.contacts {
  padding-top: 46px;
  text-align: center;
  background-color: $white;
}


.contacts__header {
  margin-top: 0;
  margin-bottom: 38px;

  @include set-font(24px, 28px);
  font-weight: $font-light;
  color: $corp-blue;
}

.contacts__item {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 27px;
}

.contacts__title {
  display: block;
  margin-bottom: 7px;

  @include set-font(18px, 18px);
  font-weight: $font-bold;
  color: $corp-blue;
}

.contacts__detail {
  display: block;

  @include set-font(24px, 26px);
  font-weight: $font-light;
  color: $corp-pink;
}

.contacts__detail--link {
  text-decoration: none;
}

.contacts__detail--link-mail {
  text-decoration: none;

  &:hover,
  &:focus {
    color: $corp-blue;
    text-decoration: underline;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__img-map {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 40px;
    background-image: linear-gradient(to bottom left, $white 50%, transparent 50%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 40px;
    background-image: linear-gradient(to bottom right, $white 50%, transparent 50%);
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
}


@media (min-width: $tablet-width) {
  .contacts__header {
    margin-bottom: 47px;

    @include set-font(40px, 48px);
  }

  .contacts__header-two-line {
    display: block;
  }

  .contacts__item-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .contacts__item {
    width: 271px;

    &:last-child {
      margin-top: 23px;
    }

    &--email {
      padding-left: 15px;
    }
  }

  .contacts__title {
    margin-bottom: 9px;
  }

  .contacts__detail {
    @include set-font(24px, 28px);
  }

  .contacts__img-map {
    height: 376px;
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }

  .contacts__real-map {
    height: 376px;
  }
}


@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 63px;
  }

  .contacts__header {
    margin-bottom: 61px;

    @include set-font(50px, 60px);
  }

  .contacts__item {
    &:last-child {
      margin-top: 0;
    }

    &--adress {
      padding-left: 10px;
    }
  }

  .contacts__item--email {
    order: 1;
  }

  .contacts__title {
    margin-bottom: 25px;
  }

  .contacts__img-map {
    height: 500px;
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }

  .contacts__real-map {
    height: 500px;
  }
}
