.download {
  background-color: $corp-blue;
  padding-bottom: 29px;
}

.download__product-img-wrapper {
  height: 286px;
  padding-top: 110px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  @include solid-bg;
}

.download__btn-wrapper {
  width: 100%;
  padding-top: 28px;
  box-sizing: border-box;
  text-align: center;
}

.download__btn {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  @include set-font(18px, 18px);
  color: $white;
  font-weight: $font-bold;
  text-decoration: none;
  text-align: center;
  border: 3px solid $white;
  border-radius: 30px;

    &:hover,
    &:focus {
      color: $corp-pink;
      background-color: $white;
    }

    &:active {
      color: rgba($corp-pink, 0.3);
    }
}

.download__list {
  margin-top: 32px;
  margin-bottom: 21px;
  padding-left: 0px;
  list-style-type: none;
}

.download__description {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
  @include set-font(14px, 24px);
  color: $white;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .download {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    @include solid-bg;
  }

  .download__product-img-wrapper {
    order: 1;
    background-image: none;
  }

  .download__action-block-title {
    display: block;
    color: $white;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .download {
    padding-top: 100px;
  }
}
