.editing-picture__list-tools {
  width: 240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
  list-style-type: none;
  padding-top: 37px;
}

.editing-picture__item--light{
    margin-left: 8px;
    margin-right: 10px;
}

.editing-picture__range-conteiner--active {
  position: relative;
  width: 100%;
  padding-top: 34px;
  padding-bottom: 35px;
  border-bottom: 1px solid #dddfe0;
}

.editing-picture__range-line--active {

  width: 240px;
  height: 2px;
  margin: 0 auto;
  background-color: $corp-blue;
}

.editing-picture__range-point--active {
  position: absolute;
  top: 27px;
  right: 74px;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  background-color: $grey;
  border: 2px solid $corp-pink;
  border-radius: 50%;
  cursor: pointer;
}

.editing-picture__btn-wrapper {
  width: 100%;
  padding-top: 38px;
  padding-bottom: 40px;
  text-align: center;
}

.editing-picture__btn {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  @include set-font(18px, 18px);
  font-weight: $font-bold;
  text-decoration: none;
  text-align: center;
  background-color: $grey;
  border-radius: 30px;
}

.photo-editor__btn--submit {
  color: $corp-pink;
  border: 3px solid $corp-pink;

  &:hover,
  &:focus {
    color: $white;
    background-color: $corp-pink;
  }

  &:active {
    color: rgba($white, 0.3);
  }
}

.photo-editor__btn--reset {
  margin-top: 13px;
  color: #dddfe0;
  border: 3px solid #dddfe0;

  &:hover,
  &:focus {
    color: #b5b9be;
    border-color: #b5b9be;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: #b5b9be;
  }
}
