.fieldset-contact__title-field {
  width: 100%;
  display: block;
  padding-left: 23px;
  padding-bottom: 4px;
  @include set-font (14px, 30px);
  color: $corp-pink;
  text-transform: uppercase;
}

.fieldset-contact__field {
  width: 100%;
  margin-bottom: 18px;
  padding: 15px 23px;
  box-sizing: border-box;
  @include set-font (18px, 30px);
  color: $corp-blue;
  border: 2px solid #e5e5e5;

  &:hover,
  &:focus {
    border-color: $corp-blue;
  }

  &:active {
    border-color: $corp-pink;
    outline: none;
  }

  &::placeholder {
    color: $corp-blue;
  }
}

@media (min-width: $tablet-width) {
  .fieldset-contact__group {
    display: flex;
    flex-direction: column;
  }

  .fieldset-contact__title-field {
    order: 1;
  }
}

@media (min-width: $desktop-width) {
 .fieldset-contact__fields-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fieldset-contact__group {
    width: 45%;
  }
}
