.form-list__fieldset {
  position: relative;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  padding: 0 20px;
  box-sizing: border-box;
  border: none;

  &--adventure-list {
    margin-top: 24px;
    padding-top: 74px;
    background-color: $grey;
  }

  &--apps-list {
    margin-top: 24px;
    padding-top: 74px;
    padding-bottom: 8px;
    background-color: $grey;
  }

  &--freeform {
    margin-top: 26px;
    padding-top: 28px;
  }

  &--contact {
    padding-top: 31px;
  }
}

.form-list__caption {
  position: absolute;
  top: -75px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @include set-font (14px, 18px);
  color: $corp-pink;
  text-transform: uppercase;

  &::before {
    content: " ";
    width: 100%;
    height: 1px;
    display: block;
    margin-bottom: 112px;
  }
  &--freeform{
    top: -102px;
  }

  &--no-mobile {
    display: none;
  }
}

.form-list__ul-list {
  margin-top: 39px;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.form-list__item {
  margin-bottom: 42px;

  &--radio {
    margin-bottom: 35px;
  }
}

.form-list__textarea {
  width: 100%;
  height: 200px;
  margin-top: 18px;
  padding-top: 14px;
  padding-left: 20px;
  box-sizing: border-box;

  @include set-font (18px, 30px);
  color: $corp-blue;
  border: 2px solid #e5e5e5;
}

.form-list__button {
  width: 100%;
  margin-top: 43px;
  margin-bottom: 35px;
}

.form-list__btn-submit {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 16px;
  box-sizing: border-box;

  @include set-font (18px, 30px);
  color: $white;
  font-weight: $font-bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: none;

  &:hover,
  &:focus {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba($white, 0.3);
  }
}

.form-list__description {
  width: 100%;
  padding-bottom: 14px;
  text-align: center;

  @include set-font (14px, 30px);
  color: $corp-blue;
  text-transform: uppercase;
}

.form-list__description-star {
  color: $corp-pink;
}

@media (min-width: $tablet-width) {
  .form-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .form-list__fieldset {
    padding: 0;
  }

  .form-list__fieldset--adventure-list {
    order: 3;
  }

  .form-list__fieldset--contact {
    order: 2;
    margin-top: -60px;
  }

  .form-list__fieldset--apps-list {
    order: 1;
  }

  .form-list__fieldset--freeform {
    order: 4;
  }

  .form-list-action__wrapper {
    order: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .form-list__caption--no-mobile {
    display: block;
  }

  .form-list__button {
    width: auto;
  }

  .form-list__description {
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .form-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .form-list__fieldset--person {
    width: 45%;
    margin-left: 0;
    margin-right: 0;
  }

  .form-list__fieldset--apps-list {
    width: 45%;
    margin-left: 0;
    margin-right: 0;
  }
}
