.main-nav {
  margin-top: 22px;
  border-top: 1px solid #000000;
}

.main-nav__list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0;
}


@media (min-width: $desktop-width) {
  .main-nav {
    margin-top: 0;
    border-top: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }
}
