.page-title {
  width: 100%;
  min-height: 170px;
  padding-top: 33px;
  padding-bottom: 15px;
  box-sizing: border-box;
  background-color: $corp-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  @include set-bg (center, -67px);
  text-align: center;
}

.page-title__text {
  width: 80%;
  margin: 0 auto;

  @include set-font (24px, 28px);
  font-weight: $font-light;
  color: $white;
}


@media (min-width: $tablet-width) {
  .page-title {
    min-height: 329px;
    padding-top: 68px;
  }

  .page-title__text {
    @include set-font (50px, 60px);
  }
}


@media (min-width: $desktop-width) {
  .page-title {
    min-height: 394px;
    padding-top: 173px;
  }

  .page-title__text {
    width: 50%;

    &--wide {
      width: 70%;
    }
  }
}
