.page-footer {
  width: 100%;
  text-align: center;
  padding-top: 42px;
}

.page-footer__logo {

  &:active {
    opacity: 0.3;
  }
}

.page-footer__social {
  margin-top: 35px;
  margin-bottom: 41px;
}

.page-footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 178px;
  margin: 0 auto;
  padding-left: 0;
  list-style-type: none;
}

.page-footer__social-link {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  @include solid-bg(auto);
  border: 2px solid #e9ebec;
  border-radius: 50%;

  &:hover,
  &:focus {
    border-color: $corp-blue;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__social-link--twitter {
  background-image: url('../img/icon-twitter.svg');
}

.page-footer__social-link--facebook {
  background-image: url('../img/icon-facebook.svg');
}

.page-footer__social-link--youtube {
  background-image: url('../img/icon-youtube.svg');
}


.page-footer__copyright {
  padding-bottom: 50px;

  &:active {
  opacity: 0.3;
  }
}

.page-footer__copyright-link {
  text-decoration: none;
  height: 34px;
}

.page-footer__copyright-text {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  @include set-font(14px, 18px);
  color: $corp-blue;
}

.page-footer__copyright-img {
  display: inline-block;
  vertical-align: middle;
}


@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 42px;
  }

  .page-footer--main-page {
    display: flex;
  }

  .page-footer__social {
    margin: 0;
  }

  .page-footer__copyright {
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-left: 130px;
    padding-right: 130px;
    box-sizing: border-box;
  }
}
