.photo-editor {
  text-align: center;
}

.photo-editor__title {
  width: 280px;
  margin: 0 auto;
  padding-top: 19px;
  padding-bottom: 44px;

  @include set-font (14px,30px);
  color: $corp-blue;
}

.photo-editor__picture-edit {
  background-color: $grey;
  padding-top: 18px;
}

@media (min-width: $tablet-width) {
  .photo-editor__title {
    width: 69%;
    padding-top: 49px;
    padding-bottom: 69px;

    @include set-font (18px,30px);
  }

  .photo-editor__picture-edit {
    width: 100%;
    padding-top: 42px;
    padding-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor__picture-edit {
    padding-bottom: 31px;
    background-color: $white;
  }

  .photo-editor__title {
    width: 35%;
    padding-top: 9px;
    padding-bottom: 24px;
  }
}
