.reviews {
  padding-top: 45px;
  padding-bottom: 20px;
}

.reviews__blockquote {
  margin: 0 auto;
  width: 90%;
}

.reviews__list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}

.reviews__person-name {
  margin-top: 0;
  margin-bottom: 13px;

  @include set-font(18px, 30px);
  color: $black;
  font-weight: $font-bold;
  font-style: normal;
}

.reviews__text {
  margin-top: 12px;
  margin-bottom: 0;

  @include set-font(14px, 30px);
  color: $corp-blue;
}

.reviews__toggles {
  margin-top: 35px;
  margin-bottom: 0;
  height: 19px;
  text-align: center;
}


@media (min-width: $tablet-width) {
  .reviews__blockquote {
    display: flex;
    flex-direction: column;
  }

  .reviews__person-bio {
    display: block;
  }

  .reviews__text {
    order: -1;
  }
}


@media (min-width: $desktop-width) {
  .reviews__toggles {
    display: none;
  }
}
