.slider-switch__toggles {
  position: relative;
  font-size: 0;
}

.slider-switch__toggle {
  display: inline-block;
  width: 6px;
  height: 6px;
  padding: 0;
  background-color: rgba($corp-blue, 0.3);
  border-radius: 50%;
  appearance: none;
  border: none;

  &:not(:last-child) {
    margin-right: 19px;
  }
}

.slider-switch__toggle--checked {
  width: 12px;
  height: 12px;
  border: 3px solid $corp-blue;

  &:not(:last-child) {
    margin-right: 16px;
  }
}

@media (min-width: $desktop-width) {
  .slider-switch {
    position: relative;
  }

  .slider-switch__arrow {
    position: absolute;
    top: 37px;
    display: block;
    width: 23px;
    height: 44px;
    padding: 0;
    border: none;
    background-color: red;

    &--previous {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }
}
