@mixin solid-bg () {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin set-font($font-size, $line-height: $line) {
  font-size: $font-size;
  line-height: $line-height;
}
