@import "normalize";
@import "fonts";
@import "variables";
@import "visually-hidden";
@import "mixins";

body {
  width: 320px;
  margin: 0 auto;
  font-family: $font, "Arial", sans-serif;
  font-weight: 400;
  outline: 1px solid red;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

@import "./blocks/page-header";
@import "./blocks/download";
@import "./blocks/shop-list";
@import "./blocks/advantages";




